:root {
  /* Brand Colors */
  --black:#081025;
  --navy:#031442;
  --off-white:#ebeff0;
  --white: #fcfdfd;
  --white30: #fcfdfd4d;
  --light-blue:#96d8fb;
  --light-blue20:#96d8fb33;
  --white-blue:#c9f7fd;
  --ribbon-blue:#004bd1;
  --accent:#ff3e1f;
  /* Brand Fonts */
  --heading: "merriweather", serif;
  --body-text: "open sans", sans-serif;
  /* Font Sizes */
  --base: 16px;
  /* Width */
  --portrait_width: 22vw;
  --section_padding: calc(var(--portrait_width) * 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: var(--body-text);
  font-size: var(--base);
  scroll-behavior: smooth;
}

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
section#about-me, section#services {
  min-height: 100vh;
}
h1, h2 {
  font-family: var(--heading);
  font-weight: 900;
  text-transform: uppercase;
}
p a:hover {
  text-decoration: underline;
}
.background-color {
  background-color: var(--black);
  position: absolute;
  width: 40%;
  height: 100vh;
  left: 60%;
  top: 0px;
  z-index: -1;
  display: none;
}

/* NAVIGATION */
/* Animated mobile nav */

.mobile-nav {
  height: 10vh;
  background-color: var(--black);
  padding: calc((10vh - (var(--base) * 2)) / 2);
}

@media only screen and (max-width: 600px) {


  .line {
    width: 30px;
    height: 3px;
    background: var(--white);
    margin: 5px;
  }


  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    z-index: 2;
    transform: translate(-5%, 50%);
  }
  .nav-links {
    position: fixed;
    background: #081025e0;
    height: 100vh;
    width: 100%;
    left: 0;
    flex-direction: column;
    display: flex;
    clip-path: circle(100px at 110% -15%);
    -webkit-clip-path: circle(100px at 110% -15%);
    transition: all .5s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 110% -15%);
    -webkit-clip-path: circle(1000px at 110% -15%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 10vw;
  }
  .nav-links li: nth-child(1){
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li: nth-child(2){
    transition: all 0.5s ease 0.4s;

  }
  .nav-links li: nth-child(3){
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }

}

/* END OF Animated mobile nav */

nav {
  position: absolute;
  width: 40%;
  left: 60%;
  top: 0px;
  z-index: 2;
}

.logo a {
  display: inline-block;
}
.logo span {
  color: var(--white);
}
.logo:hover {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
a:hover {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}
a {
  text-decoration: none;
}
.company a, .logo a, description a, table a {
  color: var(--ribbon-blue);
}

.ribbon-equity {
  color: #0070bc;
}
.logo {
  margin: 0 0 0 var(--section_padding);
}
#links {
  float: right;
  width: 100%;
}
.nav-links .link {
  list-style: none;
  margin: 72px 0 0 8%;
  float: left;
}
.nav-links a {
  color: var(--white);
}
.nav-links a:hover {
  color: var(--light-blue);
}
.nav-links .btn {
  padding: 9px 15px;
}
.nav-links .btn {
  background-color: var(--accent);
  border-radius: 50px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.25);
  padding: 9px 15px;
  transition: .3s;
}
.nav-links .btn:hover {
  background-color: var(--accent);
  color: var(--white);
  font-size: 48px;
  font-weight: bold;
}

/* NAVIGATION */
/* TITLE PAGE */
#title-page {
  width: 100%;
  min-height: 86.7vh;
  overflow: hidden;
}
/* 92 */
.title-content {
  min-height: calc(92vh - (var(--portrait_width) * 0.58));
}
.title-text {
  margin-top: calc(var(--portrait_width) * 0.58);
  position: absolute;
  top: 24vh;
  text-align: center;
  /* Mobile */
  width: 60%;
  left: 50%;
  margin: calc(-1 * (var(--portrait_width) / 2)) 0 0 -30%;

}
.title-text h1 {
  font-size: 5vw;
  text-align: left;
  text-transform: uppercase;
}
.title-text h3 {
  font-size: 3vw;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 100%;
  text-align: left;
}
.title-text p {
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.cta-link {
  width: 100%;
  color: black;
}
.cta {
  padding: 10px 31px;
  background-color: var(--accent);
  filter: drop-shadow(4px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  color: var(--white);
  transition: .2s;
  margin-top: 10px;
  border-radius: 50px;
  width: 35%;
  min-width: 150px;
}
.cta:hover {
  cursor: pointer;
  padding: 11px 33px;
  filter: drop-shadow(6px 3px 6px rgba(0, 0, 0, 0.25));
}
.portrait {
  position: absolute;
  max-width: var(--portrait_width);
  min-width: 250px;
  left: 60%;
  top: 50vh;
  margin: calc(-1 * ((var(--portrait_width) * 1.26) / 2)) 0 0 calc(var(--portrait_width) / -2);
  filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  display: none;
}
/* TITLE PAGE */
/* SECTION STYLING */
.use-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flexing li {
  width: 50%;
  min-width: 300px;
}
.section-title h1{
  font-size: 60px;
  margin-top: calc(20% - 60px);
  margin-bottom: 32px;
}
.section-title h2 {
  font-size: calc(var(--base) * 2);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--accent);
  /* Mobile */
  padding: calc(var(--base) * 2) 0 calc(var(--base) * 2);

}
.description {
  box-sizing: border-box;
  flex: 49;
  width:100%;
  padding: 0 var(--section_padding);
;
}
.description h1 {
  text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
}
#about-me .description {
  background-color: var(--black);
  color: rgba(201, 247, 253, 0.8);
  padding-bottom: 48px;
}
#about-me h1 {
  opacity: 0;
  transform: translateX(-1000px);
  transition: opacity 2s ease;
  transition: transform .5s ease;
}
th, td {
  text-align: left;
  vertical-align: top;
  padding: 0 0 20px;
  box-sizing: border-box;
}
td {
  padding-left: 8px;
}

.wrapper .social-i {
  color: var(--black);
  display: inline-block;
  height: calc(var(--base) * 3);
  width: calc(var(--base) * 3);
  float: left;
  margin-right: 10px;
  overflow: hidden;
  background: var(--white);
  border-radius: calc((var(--base) * 9.5) / 4);;
  cursor: pointer;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.15));
  transition: all 0.3s ease-out;
}
@media only screen and (min-width: 906px) {
  .wrapper .social-i:hover {
    width: calc(var(--base) * 9.5);
    /* up to screen-width 906 */
  }
}
@media only screen and (max-width: 833px) {
  .wrapper .social-i:hover {
    width: calc(var(--base) * 9.5);
    /* up to screen-width 906 */
  }
}

.wrapper .social-i:hover .icon {
  color: var(--white);
  transition: all 0.3s ease-out;
}
.wrapper a:nth-child(3):hover .icon {
  background-color: var(--ribbon-blue) !important;
}
.wrapper a:nth-child(2):hover .icon {
  background-color: var(--accent) !important;
}
.wrapper a:nth-child(1):hover .icon {
  background-color: var(--navy) !important;
}

.wrapper .social-i .icon {
  display: inline-block;
  height: calc(var(--base) * 3);
  width: calc(var(--base) * 3);
  text-align: center;
  border-radius: 100%;
  box-sizing: border-box;
  line-height: calc(var(--base) * 3);
}
.wrapper .social-i .icon i {
  font-size: calc(var(--base) * 1.25);
  line-height: calc(var(--base) * 3);
}
.wrapper .social-i span {
  font-size: var(--base);
  font-weight: 500;
  line-height: calc(var(--base) * 3);
  margin-left: calc(var(--base) / 2);
  transition: all 0.3s ease-out;
}
.wrapper a:nth-child(3):hover span {
  color: var(--ribbon-blue) !important;
}
.wrapper a:nth-child(2):hover span {
  color: var(--accent) !important;
}
.wrapper a:nth-child(1):hover span {
  color: var(--navy) !important;
}
#services .description {
  background-color: var(--navy);
  color: rgba(201, 247, 253, 0.8);
  padding-bottom: 48px;
}
#services h1 {
  opacity: 0;
  transform: translateX(-1000px);
  transition: opacity 2s ease;
  transition: transform .5s ease;
}
#services h3 {
  font-size: calc(var(--base) * 1.5);
  font-weight: 300;
  margin: calc(var(--base) * 2) 0 calc(var(--base) * .5);
}
#services h5 {
  font-size: calc(var(--base) * 1.25);
}
.service-list {
  line-height: calc(var(--base) * 2.25);
}
ul {
  list-style: none;
}
#companies {
  background-color: var(--off-white);
}
#book-a-call .description {
  background-color: var(--ribbon-blue);
  color: var(--white);
  padding-bottom: 48px;
}

#book-a-call {
  height: 92vh;
}
#book-a-call .description {
  min-width: 350px;

}
#book-a-call h1 {
  font-size: calc(var(--base) * 3);
  margin-top: calc(20% - calc(var(--base) * 3));
  margin-bottom: var(--base);
  opacity: 0;
  transform: scale(.01);

}

form label {
  line-height: calc(var(--base) * 2);
}
form input {
  width: 100%;
  line-height: calc(var(--base) * 2);
  padding-left: 4px;
  margin-bottom: calc(var(--base) / 2);
}
form textarea {
  width: 100%;
  padding: calc(var(--base) / 2);
  margin-bottom: 10px;
  line-height: calc(var(--base) * 1.2);
}
form button {
  padding: var(--base);
  font-size: var(--base);
  width: 50%;
  border-radius: 50px;
  background-color: var(--navy);
  color: var(--white)
  transition: all .2s ease;
}
form button:hover {
  cursor: pointer;
  background-color: var(--accent);
}
.desc p {
  line-height: 150%;
  margin-bottom: 24px;
}
.info {
  flex: 40;
  padding-bottom: calc(var(--base) * 2);
}
.info-content {
  padding: 0 calc(var(--section_padding) * 0.77);
}
#services h3, .info h5 {
  margin-top: 0;
  font-weight: bold;
}
.company a {
  font-weight: 800;
}
.info p {
  line-height: calc(var(--base) * 1.375);
  margin-top: calc(var(--base) / 2);
}
/* SECTION STYLING */
footer .use-flex {
  justify-content: space-around;
}
footer {
  width: 100%;
  background-color: var(--black);
  color: var(--white30);
}
footer div {
  padding: calc((5vh - var(--base)) / 2) 0;
}
footer a {
  color: var(--white30);
}
.policy-terms a {
  margin: 0 30px;
}

#section-select {
  width: 10px;
  height: 15vh;
  position: fixed;
  top: 42.5vh;
  left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease;
}
.selection {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-bottom: 3px;
  background-color: var(--white);
  opacity: .3;
  transition: .1s;
}
.selection:hover {
  opacity: .6;
}

.active {
  transform: scale(1.5);
  opacity: .4;
}

.desktop {
  display: none;
}

/* DESKTOP/TABLET WIDTH */
@media only screen and (min-width: 600px) {
  .nav-links .btn {
    background-color: var(--light-blue20);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 9px 15px;
    transition: .3s;
  }
  .nav-links .btn:hover {
    background-color: var(--light-blue);
    color: var(--black);
    font-size: calc(var(--base) - 1px);
    font-weight: bold;
  }

  #section-select {
    left: 20px;
  }
  .mobile-nav {
    background-color: transparent;
    padding: 0;
  }
  .logo span {
    color: var(--black);
  }
  .logo {
    margin: 22px 0 0 var(--section_padding);
  }
  .nav-links .link {
    margin: 22px 0 0 8%;
  }
  .title-text {
    top: 50vh;
    margin: calc(-1 * (var(--portrait_width) / 2)) 0 0 0;
    width: 100%;
    left: auto;
  }
  .title-text h3 {
    font-size: var(--base);
    max-width: 80%;
  }
  .title-text p {
    margin: calc(var(--portrait_width) * 0.11) 0;
    text-align: left;
    width: 80%;
  }
  .description {
    min-width: 500px;
  }
  .section-title h2 {
    margin-top: calc(20% + var(--base));
    margin-bottom: calc(var(--base) * 2);
    padding: 0;
  }
  .info-content {
    margin-bottom: calc(20% + var(--base));
  }
  .info h3, .info h5 {
    margin-top: calc(var(--base) * 1.5);
  }
  .cta {
    margin-top: 0px;
    border-radius: 2px;
    width: auto;
    font-size: 1.8vw;
  }
  .mobile-pic {
    display: none;
  }
  .portrait {
    display: block;
  }
  .background-color {
    display: block;
  }
  .title-text {
    width: calc(var(--portrait_width) * 2);
    text-align: left;
  }
  .title-text h1 {
    font-size: calc(var(--portrait_width) * 0.18);
  }
  form button {
    width: 33.33333%;
    border-radius: 2px;
  }
}
/* END OF DESKTOP WIDTH */

@media only screen and (min-width: 866px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}



/* ANIMATIONS */
.bounce {
  animation: bounce ease .5s;
}
@keyframes bounce {
  0% {transform: scale(.05);}
  80% {transform: scale(1.1);}
  100% {transform: scale(1);}
}
.scooter {
	animation: scoot ease .8s;
  transform-origin: bottom;
	-webkit-animation: scoot ease .8s;
	-moz-animation: scoot ease .8s;
	-o-animation: scoot ease .8s;
	-ms-animation: scoot ease .8s;
}
@keyframes scoot {
	0% {transform: translateX(-300px) skew(20deg,0deg);}
	85% {transform: translateX(5px) skew(-20deg,0deg);}
	100% {transform: translateX(0px);}
}
@-webkit-keyframes scoot {
0% {transform: translateX(-300px) skew(20deg,0deg);}
85% {transform: translateX(5px) skew(-20deg,0deg);}
100% {transform: translateX(0px);}
}
@-moz-keyframes scoot {
0% {transform: translateX(-300px) skew(20deg,0deg);}
85% {transform: translateX(5px) skew(-20deg,0deg);}
100% {transform: translateX(0px);}
}
@-o-keyframes scoot {
0% {transform: translateX(-300px) skew(20deg,0deg);}
85% {transform: translateX(5px) skew(-20deg,0deg);}
100% {transform: translateX(0px);}
}
@-ms-keyframes scoot {
0% {transform: translateX(-300px) skew(20deg,0deg);}
85% {transform: translateX(5px) skew(-20deg,0deg);}
100% {transform: translateX(0px);}
}

.fade-in {
	animation: fadeIn ease .8s;
	-webkit-animation:  fadeIn ease .8s;
	-moz-animation:  fadeIn ease .8s;
	-o-animation:  fadeIn ease .8s;
	-ms-animation:  fadeIn ease .8s;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 100;}
}
@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 100;}
}
@-moz-keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 100;}
}
@-o-keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 100;}
}
@-ms-keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 100;}
}

/* ANIMATIONS */
